{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Sign-up</title>
    <script drefer src="{% static 'signup.js' %}"></script>
</head>
<body>
<main>
    <div class="back">
        <div class="create">
            <div id="content_body">
                <form action="signup" method = "POST" id = "signup-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="signup_body">
                        <div class="signup bolder">Create a new SocialM account</div>
                        <div class="input_box">
                            <input type="text" class="input_body input1 fname" placeholder="First name" required autocomplete="off">
                            <input type="text" class="input_body input1 fr lname" placeholder="Last name" autocomplete="off" required>
                            <span class="star small"></span>
                        </div>
                        <div class="input_box">
                            <input type="email" class="input_body input2 email" placeholder="Email Adress" autocomplete="off" required>
                            <span class="star small"></span>
                        </div>
                        <div class="input_box">
                            <input type="text" class="input_body input2 usrnm" placeholder="Username"  required autocomplete="off">
                            <span class="star small"></span>
                        </div>
                        <div class="input_box">
                            <input type="password" class="input_body input2 pswrd" placeholder="New password" autocomplete="off" required>
                            <span class="star small"></span>
                        </div>
                        <div class="input_box">
                            <input type="password" class="input_body input2 rpswrd" placeholder="Repeat Password" autocomplete="off" required>
                            <span class="star small"></span>
                        </div>
                        <div class="input_file">
                            <div class="custom-file">
                                <label class="custom-file-label" for="profile"><span style="color: #6c757d;">Choose profile picture<span></label>
                                <input type="file" name="profile" class="form-control custom-file-input" id="profile" accept="image/jpeg,image/png,image/webp,image/gif" data-focusable="true" aria-describedby="inputGroupFileAddon01" placeholder="Choose profile Picture">
                                <span class="star small" ></span>
                            </div>
                            <!-- <div class="custom-file">
                                <label class="custom-file-label" for="cover"><span style="color: #6c757d;">Choose cover picture<span></label>
                                <input type="file" name="cover" class="form-control custom-file-input" id="cover" accept="image/jpeg,image/png,image/webp,image/gif" data-focusable="true" aria-describedby="inputGroupFileAddon01">
                                <span class="star small"></span>
                            </div> -->
                            
                        </div>
                        <div class="input_box signb">
                            <input type="submit" class="sign-in btn bolder" value = "Sign Up" disabled>
                        </div>
                    </div>
                </form>
                <div class="sign_in">
                    <a href="login">Already have an account? </a>
                </div>
                
            </div>
        </div>
    </div>
</main>
</body>
</html>